.bread-crumbs {
  margin: 20px 0 30px;

  @include breakpoint-800 {
    margin: 20px 0;
  }

  &__nav {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0; 
    }

    &-list {
      @include flex-align-center;
      gap: 10px;
      white-space: nowrap;

      & span {
        transform: translateY(2px);
      }

    }

    &-link {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &-is-active {
        font-weight: 600;
        opacity: 1;
      }
    }
  }
}