@import 'button';
@import 'text';
@import 'burger';
@import 'form';

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: var(--science-blue-600);
}

::-webkit-scrollbar-track {
  background-color: var(--science-blue-50);
}


html, body {
  scroll-behavior: smooth;
}

.body {
  font-family: var(--primary-font);
  font-size: 16px;
  background-color: var(--science-blue-50);
}

$breakpoints: (
  1400px: 1270px,
  1300px: 1170px,
  1200px: 1070px,
  1100px: 970px,
  1000px: 870px,
  900px: 770px,
  800px: 670px,
  700px: 570px,
  600px: 470px,
  500px: 400px
);


.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
  height: 100%;

  @each $breakpoint, $max-width in $breakpoints {
    @media (max-width: #{$breakpoint}) {
      max-width: $max-width;
    }
  }
}

.logo {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 1.5em;
  color: var(--science-blue-900);
}

.main-section {
  padding: 80px 0;

  @include breakpoint-1200 {
    padding: 65px 0;
  }

  @include breakpoint-900 {
    padding: 50px 0;
  }

  @include breakpoint-600 {
    padding: 35px 0;
  }
}

.hover-link {
  position: relative;
  transition: color var(--transition);

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    min-width: 8px;
    min-height: 8px;
    background-color: var(--science-blue-600);
    transition: opacity var(--transition), visibility var(--transition);
    transform: translateY(-50%);
  }

  & path {
    transition: stroke var(--transition);
  }

  &:hover {
    color: var(--science-blue-600);

    &::before {
      opacity: 1;
      visibility: visible;
    }

    & path {
      stroke: var(--science-blue-600);
    }

  }

  &:active {
    color: var(--science-blue-800);

    &::before {
      background-color: var(--science-blue-800);
    }

    & path {
      stroke: var(--science-blue-800);
    }
  }
}

.body-no-scroll {
  overflow: hidden;
}