:root {
  // globol color
  --science-blue-50: #fafbfc;
  --science-blue-100: #e2effc;
  --science-blue-200: #bdddfa;
  --science-blue-300: #84c3f5;
  --science-blue-400: #42a3ee;
  --science-blue-500: #1988de;
  --science-blue-600: #0c68b9;
  --science-blue-700: #0b5599;
  --science-blue-800: #0e497e;
  --science-blue-900: #113e69;
  --science-blue-950: #0b2646;
  
  // font-family
  --accent-font: "Oswald", serif;
  --primary-font: Circe;

  //transition 
  --transition: .3s ease-in-out;
}